header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 650px;
    margin: 0 auto;
}

main {
    font-family: Open Sans, sans-serif;
}

nav li:hover h2 {
    border-color: brown;
    font-size: 30px;
}

nav a:hover p {
    color: chocolate;
}

nav a {
    text-decoration: none;
    color: #000000;
}

h2 {
    font-size: 27px;
}

h3 {
    font-size: 15px;
}

.faixas li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.faixas2 li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.faixas3 li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.faixa-final li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.posicao {
    font-size: 22px;
    font-weight: bold;
}

footer {
    text-align: center;
    background: url(fundo-rodape.jpg);
    padding: 10px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin-top: 20px 0 0;
}